*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items:  center;
    padding: 20px;
    
}
.logo{
    width: 125px;
    height: 125px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{ 
    text-decoration: none;
    color: #fff;
}
nav ul li a {
    position: relative;
    text-decoration: none;
  }
  
  nav ul li a:hover::after {
    content: "";
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: -5px;
    border: 1px solid white;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Make the images invisible by default */
.Containers {
  display: none;
}

/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption Info */
.Info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* Worknumbering (1/3 etc) */
.MessageInfo {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}



p{
    color: #555 ;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img {
    max-width: 100%;
    
    padding: 50px 0;
}
.col-2 h1{
    color: #fff;
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.col-2 p{
    text-align: center;
}
.btn-container{
    text-align:center;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color:#fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition:  0.5s;
}
.btn:hover{
    background: #d87979;
}

.header{
    background: #191a20;
}
.header .row{
    margin-top: 70px;
}
/*3 product categories*/
.categories{
    margin: 70px 0;
}
.col-3{
    margin-top: 20px;
    flex-basis: 30%;
    flex-basis: 250px;
    margin-bottom: 20px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/*4 products css*/
.col-4{
    margin-top: 50px;
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img {
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80 px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    left: 45%;
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating {
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-5px);
}

/*5brands*/
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}

/*footer*/
.footer{
    background-color: #191a20;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.box-container img{
    width: 120px;
}
.box img{
    margin-bottom: 20px;
}
.footer h1, .footer h3 {
    color: #fff;
    margin-bottom: 10px;
}
.footer p {
    font-size: 1.25rem;
    color: #fff;
}
.links ul{
    list-style-type: none;
    margin-left: 20px;
}
.footer .box-container{
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
}
.footer .box-container .box{
    padding:1rem 0;
    flex:1 1 25rem;
}
.footer .box-container .box h3{
    font-size: 24px;
}
.footer .box-container .box .links a{
    display: block;
    padding:.5rem 0;
    font-size: 16px;
    color:rgb(187, 185, 185);
}
.footer .box-container .box .socials a{
    padding: 0;
    margin: 5px;
    height:4rem;
    width:4rem;
    line-height: 4rem;
    text-align: center;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}

/*screen lesser than 800px*/
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

@media only screen and (max-width: 800px){
     
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        display: none;
        transition: max-height 0.5s;
        margin-top: 84px;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/*screen lesser than 600px*/
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2,.col-3,.col-4,.col-5{
        flex-basis: 100%;
    }
}

